.THIS {
	height: 40px;
}

.THIS .bar {
	/*max-width: 400px;*/
	max-width: 30rem;
}

.THIS button {
	margin-left: 4px;
}

.THIS .slds-input__icon_right{
	border: 0;
}

@media only screen and (max-width: 48em) {
  .THIS .bar {
    max-width: inherit;
  }
}